@import '../../../../assets/library';

/// child css
:host.spielgruppe-bg-color {
  .wrapper {
    background-color: $spielgruppe-bg;
  }
}


.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;

  background-color: $header-bg;

  svg {
    max-width: 100%;

    .svg-type-font {
      fill: white;
      opacity: 0.8;
    }
  }
}
