<h3>Natalie Wieland-Hofer</h3>

<p>Kontakt: <a href="https://us10.list-manage.com/contact-form?u=534efaed4adaf712b10fbd9b5&form_id=897de272de67f95eaf216a8e97bdec4c">Zum Formular.</a></p>

<p>
  Ich bin diplomierte Kindergartenlehrperson und habe bildende Kunst studiert.
  Ich arbeite seit vielen Jahren im Kindergarten und an der Primarschule sowie
  an der Kooperationsschule mit der Pädagogischen Hochschule Luzern, an der
  Volksschule Kriens.
</p>
<p>
  Fast genau so lange biete ich regelmässig Freizeitangebote (Schlosswochen und
  Tipiwochen) für Kinder von 4 bis 9 Jahren an.
</p>
<p>
  Mein Mann, Linus Wieland passionierter Softwareentwickler, entwickelt unsere
  Website und die dahinter verborgenen Programme zur Anmeldung der
  Schlosswochen. Neben dem Berufsalltag inspirieren uns unsere beiden Töchter
  und halten uns mit ihren Ideen auf trab.
</p>
<p>
  Ich habe verschiedene weitere Projekte neben der Arbeit an der Volksschule
  durchgeführt: Kunstvermittlung, Museumspädagogik und die Arbeit mit den
  StudentInnen der Pädagogischen Hochschule. Dabei merke ich immer wieder,
  Kinder zu begleiten und zu fördern, sie in ihrer sozialen Entwicklung und
  Kreativität zu unterstützen und ihnen ein freudvolles, inspirierendes Umfeld
  anzubieten, das ist es, was was mich am meisten begeistert und mir besondere
  Freude bereitet.
</p>
<h3>Ausbildungen / Berufliche Tätigkeiten / Erfahrungsbereiche</h3>
<table>
  <tr>
    <th scope="row">2021</th>
    <td>Zertifikat Ausbildung Praxislehrperson Pädagogische Hochschule, Luzern</td>
  </tr>
  <tr>
    <th scope="row">2011 - 2014</th>
    <td>Leitung Tipiwochen Freizeitangebote für Kinder</td>
  </tr>
  <tr>
    <th scope="row">2011</th>
    <td>Diplom Bildende Kunst, F+F Schule für Kunst und Mediendesign, Zürich</td>
  </tr>
  <tr>
    <th scope="row">Seit 2010</th>
    <td>Praxislehrperson für StudentInnen im Grundjahr. Pädagogische Hochschule, Luzern</td>
  </tr>
  <tr>
    <th scope="row">2007 - 2009</th>
    <td>Diplomstudiengang Film, F+F Schule für Kunst und Mediendesign, Zürich</td>
  </tr>
  <tr>
    <th scope="row">Seit 2009</th>
    <td>Leitung Pavillon Tribschenhorn</td>
  </tr>
  <tr>
    <th scope="row">2008</th>
    <td>Zertifikat NDK-ICT, Pädagogische Hochschule Zentralschweiz, Luzern</td>
  </tr>
  <tr>
    <th scope="row">2004 - 2006</th>
    <td>Gestalterischer Vorkurs, Luzern</td>
  </tr>
  <tr>
    <th scope="row">Seit 2002</th>
    <td>Leitung Schlosswochen Freizeitangebote für Kinder</td>
  </tr>
  <tr>
    <th scope="row">Seit 2001</th>
    <td>Kindergartenlehrperson</td>
  </tr>
  <tr>
    <th scope="row">2001</th>
    <td>Diplom Kindergartenlehrperson, Kindergartenseminar Baldegg</td>
  </tr>
</table>
