.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;

  background-color: #2C3043;

  #svg-header-image {
    max-height: 27vh;
  }
  svg {



    max-width: 100%;

    .curtain {
      fill: #FDA061;
      opacity: 0.9;
    }

    .type-font {
      fill: #2C3043;
      opacity: 0.8;

      .text-overlap {
        fill: #1BC1A1;
        stroke: #CC1233;
      }
    }
  }
}
