.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #fda061;

  svg {
    max-height: 100%;
    max-width: 100%;

    .curtain {
      fill: #cc1233;
      opacity: 0.9;
    }

    .type-font {
      fill: #cc1233;
      opacity: 0.8;

      .text-overlap {
        fill: #fda061;
        stroke: #cc1233;
      }
    }
  }
}
