@import '../../../../assets/library';

.icon-wrapper {
  background-color: $spielgruppe-icon-bg;
}

svg {
  .curtain {
    fill: $spielgruppe-icon;
  }

  .svg-type-font {
    fill: $spielgruppe-icon;
    stroke: $spielgruppe-icon;

    .text-overlap {
      fill: $spielgruppe-icon-bg;
      stroke: $spielgruppe-icon-bg;
    }
  }
}
