@import "../../../assets/library";

.spielgruppe-wrapper {
  background-color: $spielgruppe-icon-bg;

  font-family: "Alegreya", minion-pro, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;

  .grid-container {
    display: grid;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-header grid-header grid-header"
      "grid-logo-left grid-logo grid-logo-right"
      "grid-body-left grid-body grid-body-right"
      ". grid-footer .";

    span.avoidwrap {
      display: inline-block;
    }
  }

  @media only screen and (min-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr 800px 1fr;
      grid-template-rows: 120px 180px auto 180px;
    }
  }

  @media only screen and (min-width: 576px) and (max-width: 991px) {
    .grid-container {
      grid-template-columns: 1fr 600px 1fr;
      grid-template-rows: 60px 180px auto 180px;
    }
  }

  @media only screen and (max-width: 575px) {
    .grid-container {
      grid-template-columns: 1fr 366px 1fr;
      grid-template-rows: 60px 180px auto 160px;
    }
  }
  .grid-logo-left {
    grid-area: grid-logo-left;
  }

  .grid-logo {
    grid-area: grid-logo;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "grid-logo-left grid-logo-spielgruppe grid-logo-right";
  }

  .grid-logo-spielgruppen {
    grid-area: grid-logo-spielgruppe;
    width: 100%;
  }

  .grid-logo-right {
    grid-area: grid-logo-right;
  }

  .grid-header {
    grid-area: grid-header;
  }

  .grid-body-left {
    grid-area: grid-body-left;
  }

  .grid-body {
    grid-area: grid-body;

    a {
      text-align: center;
      text-align: -webkit-center;
      text-align: -moz-center;
    }
  }

  .grid-body-right {
    grid-area: grid-body-right;
  }

  .grid-footer {
    grid-area: grid-footer;

    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "grid-footer-left grid-icon-back grid-footer-right";
  }
  .grid-footer-left {
    grid-area: grid-footer-left;
    width: 100%;
  }
  .grid-icon-back {
    grid-area: grid-icon-back;
    width: 100%;
  }
  .grid-footer-right {
    grid-area: grid-footer-right;
    width: 100%;
  }
}
