<div class="spielgruppe-wrapper">
  <div class="grid-container">
    <div class="grid-header">
      <a routerLink="/"> <app-header [isSpielgruppe]="true"></app-header></a>
    </div>

    <div class="grid-logo">
      <div class="grid-logo-left"></div>
      <div class="grid-logo-spielgruppen">
        <a routerLink="/spielgruppe">
          <app-spielgruppe-icon
            [hideTypeFont]="false"
            [isModuleIcon]="true"
          ></app-spielgruppe-icon
        ></a>
      </div>
      <div class="grid-logo-right"></div>
    </div>

    <div class="grid-body-left"></div>
    <div class="grid-body">
      <router-outlet></router-outlet>
    </div>
    <div class="grid-body-right"></div>

    <div class="grid-footer">
      <div class="grid-footer-left"></div>
      <div class="grid-icon-back">
        <a href="javascript:void(0)" (click)="back()">
          <app-back-icon [isSpielgruppe]="true"></app-back-icon>
        </a>
      </div>
      <div class="grid-footer-right"></div>
    </div>
  </div>
</div>
