@import '../../../assets/library';

.wrapper {
  height: 15vh;

  font-family: "Alegreya", minion-pro, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;

  span.avoidwrap {
    display: inline-block;
  }
}

app-swiper {
  justify-content: center;
  flex-direction: row;
  display: flex;
}

.container {
  background-color: $spielgruppe-bg;
}
