<div class="wrapper">
  <app-spielgruppe-icon
    [hideTypeFont]="true"
    [isModuleIcon]="true"
  ></app-spielgruppe-icon>
  <app-header></app-header>
  <div class="container">
    <app-swiper></app-swiper>
    <h1><span class="avoidwrap">NATUR</span><span class="avoidwrap">SPIEL</span><span class="avoidwrap">GRUPPE</span></h1>
    <h2>Das Wichtigste in Kürze:</h2>
    <p>Spielend handeln, natürlich lernen und gemeinsam Spass haben ist unser Ziel.
      Dabei werden die Kinder optimal auf den Kindergarten vorbereitet. In einer
      kleinen Gruppe erfahren die Kinder ein ganzheitliches Naturerlebnis. Sie haben
      die Möglichkeit, in einer wundervollen Umgebung zu spielen, die Natur zu er-
      fahren und sich kreativ gestalterisch auszuleben.</p>
    <p>Weitere Infos zur
      Naturspielgruppe --> Link</p>
    <h3>Für:</h3>
    <p>Kinder zwischen 3 - 5 Jahren</p>
    <h3>Zeit:</h3>
    <p>8:30 Uhr - 11:30 Uhr</p>
    <h3>Ort:</h3>
    <p>Rund um den Pavillon Trischenhorn (Richard-Wagner-Weg 17, 6005 Luzern)</p>
    <h3>Leitung:</h3>
    <p>Natalie Wieland --> Link, Hauptleitung (Zwei Leiterinnen)</p>
    <h3>Preis:</h3>
    <p>660.- pro Semester</p>
    <h3>Anmeldung:</h3>
    <p>Im Moment haben wir Plätze am Montag und am Dienstag am Morgen frei. Bitte
      schreiben Sie ein E-Mail an: info@kinderkultur.ch --> Link</p>
    <h3>Wichtige Angaben:</h3>
    <p>Hier--> Link finden Sie die wichtigen Angaben (AGBs) der Naturspielgruppe</p>
    <h3>Newsletter:</h3>
    --> Link
  </div>

</div>
