<h2>Naturspielgruppe Tribschenhorn</h2>

<p>Spielend handeln, natürlich lernen und gemeinsam Spass haben ist unser Ziel!</p>

<p><strong>Zum Ort</strong><br>
Der Pavillon Tribschenhorn befindet sich an einem wundervollen Ort in der Natur und trotzdem in der Nähe der Stadt Luzern. Die geschützte Umgebung ist für Kinder ideal, um die Natur zu erfahren. Die Kinder haben aber auch die Möglichkeit, sich im Inneren des Pavillons aufzuhalten, zu spielen oder sich kreativ schöpferisch auszuleben.</p>


<p><strong>Lernen durch handeln</strong><br>
Die Beziehung zur Natur ist wichtig und wertvoll für die Kinder und trägt zu einer gesunden Entwicklung bei. Dabei ist gerade die aktive Auseinandersetzung mit vielfältigem Naturmaterial elementar für das Abstraktionsvermögen, welches beispielsweise in der Mathematik zu einem späteren Zeitpunkt von den Kindern gefordert wird. Ein Kind kann „wenig“ oder „viel“ nur verstehen, wenn es das auch erlebt hat. Die Natur bietet die besten Voraussetzung für das spielerische Lernen, wenn das Kind dabei begleitet und unterstützt wird.</p>


<p><strong>Jedes Kind in seinem Tempo</strong><br>
Jedes Kind hat seinen eigenen „Plan“, wann es bereit und motiviert ist Erfahrungen zu machen und daraus zu lernen. Es ist uns wichtig, dass die Kinder nicht unter Druck stehen, weil das nichts bringt. Wir bieten angeleitete Sequenzen, in denen die Kinder mit uns Lieder singen, Singspiele machen, Natur- und andere Materialien betrachten, Geschichten hören usw.</p>
<p>Dabei gibt es genügend freie Angebote, welche zum Ziel haben, die Kinder individuell mit unserer Unterstützung neugierig zu machen und zum Handeln anzuregen und in der Fein- und Grobmotorik oder im mathematischen Grundverständnis zu fördern. Diese Angebote sind vielfältig und können gestalterischer, kreativer, konstruktiver Art sein, wie beispielsweise, freies Malen, Werken, Falten, Bauen, Kneten, Graben, Ordnen, Sortieren etc. oder es können Inputs sein, bei denen die Kinder sich gemeinsam in das Rollenspiel vertiefen.</p>


<p><strong>Vom „Ich“ zum „Wir“</strong><br>
Wenn anfangs für die Kinder das eigene Bedürfnis zuerst kommt, wird mit der Zeit die Gruppe immer wichtiger. Die Kinder fangen an, sich für andere Kinder zu interessieren und entwickeln Freundschaften. Jedes Kind spürt selber, wann es für diese Erfahrungen bereit ist. Wir versuchen, das Zusammenspiel ohne Druck zu fördern und den Kindern, die bereit dafür sind, Anregungen zu geben.</p>

<p><strong>Vormachen und Lernen aus Erfahrung</strong><br>
Kinder lernen, indem sie Erfahrungen machen. Dabei schauen sie anderen Kindern oder Erwachsenen zu und ahmen sie nach. Unsere Philosophie besteht darin,  Kinder liebevolle in all ihren Phasen zu Begleiten und in der Gruppe positives Verhalten vorzuleben, denn in ihren jungen Jahren sind alle Erfahrungen wichtig und prägen in gewissem Mass ihr Leben.</p>

<p>Kurz: Spielerische, ganzheitliche und freudvolle Erlebnisse ohne Druck, bieten wir den Kindern in der Naturspielgruppe beim Pavillon Tribschenhorn an.</p>


