<div class="container">
  <app-swiper></app-swiper>

  <h2>Das Wichtigste in Kürze:</h2>
  <p>
    Spielend handeln, natürlich lernen und gemeinsam Spass haben ist unser Ziel.
    Dabei werden die Kinder optimal auf den Kindergarten vorbereitet. In einer
    kleinen Gruppe erfahren die Kinder ein ganzheitliches Naturerlebnis. Sie
    haben die Möglichkeit, in einer wundervollen Umgebung zu spielen, die Natur
    zu erfahren und sich kreativ gestalterisch auszuleben.
  </p>
  <p><a routerLink="info">Weitere Infos zur Naturspielgruppe</a></p>
  <h3>Für:</h3>
  <p>Kinder zwischen 3 - 5 Jahren.</p>
  <h3>Zeit:</h3>
  <p>8:30 Uhr - 11:30 Uhr.</p>
  <h3>Ort:</h3>
  <p>
    Rund um den <a [routerLink]="'/spielgruppe/ort'">Pavillon Tribschenhorn</a>.
  </p>
  <h3>Leitung:</h3>
  <p>
    <a routerLink="leitung">Natalie Wieland-Hofer</a>, Hauptleitung (Zwei
    Leiterinnen).
  </p>
  <h3>Preis:</h3>
  <p>CHF 660.- pro Morgen für ein Semester.</p>
  <h3>Anmeldung:</h3>
  <p>
    Die Naturspielgruppe startet am Montag 29. August 2022 und Dienstag 30. August 2022.
    die Kinder können für einen oder für zwei Morgen pro Woche angemeldet werden.</p>
    <p>Bitte schreiben Sie ein E-Mail an:
    <a href="mailto:info@kinderkultur.ch?subject=Anmeldung Spielgruppe"
      >info@kinderkultur.ch</a
    >
    (Natalie Wieland-Hofer).
  </p>
  <h3>Wichtige Angaben:</h3>
  <p>
    <a href="../assets/agb.pdf" target="_blank">Hier</a> finden Sie die
    wichtigen Angaben (AGBs) der Naturspielgruppe.
  </p>

  <p>
    Es findet einen Info und Kennenlern-Nachmittag mit den Kindern am 1. Juni 22
    zwischen 14:00 Uhr und 16:00 Uhr statt.
    Bitte bei Natalie Wieland-Hofer
    <a href="mailto:info@kinderkultur.ch?subject=Kennenlerntag"
      >info@kinderkultur.ch</a
    >
    anmelden.
  </p>

  <h3>Newsletter:</h3>
  <a
    href="https://us10.list-manage.com/contact-form?u=534efaed4adaf712b10fbd9b5&form_id=897de272de67f95eaf216a8e97bdec4c"
    >Zum Formular.</a
  >
</div>
