$mango: #fda061;
$orange: #FC6057;
$babyblue: #1bc1a1;
$slate: #2C3043;

$purple: #cc1233;
$purple-dark: #960f27;

$logo-bg: $mango;
$header-bg: $slate;

$spielgruppe-bg: $mango;
$schlosswochen-bg: $orange;
$figurentheater-bg: $babyblue;

$spielgruppe-icon: $purple;
$spielgruppe-icon-stroke: $purple-dark;

$schlosswochen-icon: $purple;
$schlosswochen-icon-stroke: $purple-dark;

$figurentheater-icon: $purple;
$figurentheater-icon-stroke: $purple-dark;
