$mango: #fda061;
$orange: #fc6057;
$babyblue: #1bc1a1;
$slate: #2c3043;

$purple: #cc1233;
$purple-dark: #960f27;

$svg-text-173438: #173438;
$svg-text-4CAB27: #4cab27;
$svg-text-D388C1: #d388c1;
$svg-text-AC002E: #ac002e;
$svg-text-F31C80: #f31c80;
$svg-text-5A9C36: #5a9c36;
$svg-text-FE230B: #fe230b;
$svg-text-C12D93: #c12d93;
$svg-text-42238C: #42238c;
$svg-text-52AE26: #52ae26;
$svg-text-3E97A9: #3e97a9;
$svg-text-2A3796: #2a3796;
$svg-text-173438: #173438;
$svg-text-50B14F: #50b14f;
$svg-text-5A9C36: #5a9c36;

$logo-bg: $mango;
$header-bg: $slate;

$spielgruppe-bg: $mango;
$schlosswochen-bg: $orange;
$figurentheater-bg: $babyblue;

$spielgruppe-icon: $purple;
$spielgruppe-icon-stroke: $purple-dark;

$schlosswochen-icon: $purple;
$schlosswochen-icon-stroke: $purple-dark;

$figurentheater-icon: $purple;
$figurentheater-icon-stroke: $purple-dark;
