.icon-wrapper {
  background-color: #1bc1a1;
  svg {
    .curtain {
      fill: #cc1233;
    }
    .svg-type-font {
      fill: #cc1233;

      .text-overlap {
        fill: #1bc1a1;
        stroke: #cc1233;
      }
    }
  }
}
