@import '../../../../assets/library';

.icon-wrapper {
  background-color: $figurentheater-icon-bg;
  svg {
    .curtain {
      fill: $figurentheater-icon;
    }
    .svg-type-font {
      fill: $figurentheater-icon;
      stroke: $figurentheater-icon-stroke;

      .text-overlap {
        fill: $figurentheater-icon-bg;
        stroke: $figurentheater-icon-bg;
      }
    }
  }
}
