@import '../../../../assets/library';

swiper {
  height: auto;
  width: 600px;
  .swiper-button-prev {
    color: $rouge-rubia;
  }

  .swiper-button-next {
    color: $rouge-rubia;
  }
  @media only screen and (max-width: 600px){

    width: 100%;
  }
}
