.icon-wrapper {
  background-color: #FC6057;

  svg {
    .curtain {
      fill: #CC1233;
    }

    .svg-type-font {
      fill: #CC1233;

      .text-overlap {
        fill: #FC6057;
        stroke: #CC1233;
      }
    }
  }
}
