@import '../../../../assets/library';

.icon-wrapper {
  background-color: $schlosswochen-bg;

  svg {
    .curtain {
      fill: $schlosswochen-icon;
    }

    .svg-type-font {
      fill: $schlosswochen-icon;
      stroke: $schlosswochen-icon;

      .text-overlap {
        fill: $schlosswochen-bg;
        stroke: $schlosswochen-icon;
      }
    }
  }
}
